body {
    margin: 0 !important;
    padding: 0 !important;
}

.banner {
    height: 865px;
    background-image: url('./banner.jpg');
    background-position: center;
    padding: 20px;
}

.about-sign-in {
    height: 80px;
    text-align: right;
    margin-top: 20px;
    margin-right: 40px;
}

.about,
.signin {
    text-decoration: none;
    padding: 7px 15px;
    text-transform: uppercase;
}

.signin {
    margin-right: 60px;
    margin-left: 20px;
    border: 1px solid green;
    border-radius: 20px;
}

.logo {
    background-image: url('./hapoERP.png');
    background-position: center;
    background-repeat: no-repeat;
    height: 100px;
}

.text {
    text-align: center;
}

.btn-start-now {
    text-align: center;

}

.banner .btn-start-now button {
    padding: 10px 15px;
    boder: 1px solid green;
    border-radius: 20px;
    margin-top: 20px;
    cursor: pointer;
}

.left,
.right,
.center {
    width: 33%;
    display: inline-block;
    text-align: center;
}

span {
    display: block;
    font-size: 30px;
}

img {
    width: 30px;
}

.content-center span {
    margin: 10px;
}